{
    "extends": "airbnb/base",
    "rules": {
        "indent": [2, 4],
        "func-names": 0,
        "no-param-reassign": 0,
        "prefer-template": 0,
        "no-useless-constructor": 0
    }
}
